body {
  background-color: papayawhip;
  text-align: center;
}

p {
  text-align: left;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 10%;
}

ul {
  text-align: left;
}

form {
  text-align: left;
}

.imgSelf {
  height: 200px;
  width: 200px;
}

h1 {
  color: orangered;
  text-align: left;
}

h3 {
  color: #66BFBF;
  text-align: center;
}

.head {
  background-color: inherit;
  color: grey;
  padding: inherit;
}

a {
  background-color: inherit;
  color: inherit;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
}
